<div class="container">
  <div class="buttons">
    <div class="column">
      <button><a href="/">Home</a></button>
      <button><a href="/write">Write</a></button>
      <button><a href="/read">Read</a></button>
    </div>
  </div>
</div>
