<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <div class="container">
      <div class="buttons"><%- include("partials/footerButtons.ejs") %></div>
      <%- include("partials/content.ejs") %>
    </div>
  </body>
</html>
