<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Car blog</title>
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <div class="container">
      <div class="buttons"><%- include("partials/footerButtons.ejs") %></div>

      <div class="form">
        <form action="/read" method="post">
          <label for="onomacar"
            >Γράψε τη μάρκα και το μοντέλο του οχήματος ως εξής
            π.χ("Mercedes/A2").</label
          >
          <br />
          <input type="text" name="onomacar" />
          <br /><br />
          <label for="montelo">Γράψε λίγα λόγια για το αμάξι.</label><br />
          <textarea name="montelo" id="text" cols="30" rows="10"></textarea>
          <br />
          <input class="submit" type="submit" value="Submit" />
        </form>
      </div>
    </div>
  </body>
</html>
